<h1><%= @veg.name %></h1>
<h2><%= @veg.family.common_name %> - <i><%= @veg.family.family_name %> </i></h2>
<small><%= @info %></small>
<h3>Varieties</h3>
<ul>
  <li>First Variety</li>
  <li>Second variety</li>
  <li>..etc..etc</li>
</ul>